﻿
<div ng-app="product-app" ng-controller="productListController as vm" ng-init="vm.getLatest()">



    @* -------------------------------------------------------------- *@
    @* --------------------- GREETINGS MESSAGE ---------------------- *@
    @* -------------------------------------------------------------- *@

    <div class="container">
        <div class="jumbotron text-center text-capitalize top-text">
            <h1 class="text-capitalize first-info">Welcome To The Future</h1>
            <h3 class="text-primary second-info">We are happy to bring you the technology of tomorrow ... today!</h3>
        </div>
    </div>




    @* -------------------------------------------------------------- *@
    @* ------------------------ MY CAROUSEL ------------------------- *@
    @* -------------------------------------------------------------- *@

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-class="{'active': $index == 0}" ng-repeat="product in vm.latestProducts | limitTo:5 | orderBy: '-Updated'">
                <a href="/Product/Details/{{product.Id}}"><img style="width: 400px; margin: 0 auto;" src="{{product.Image}}" alt="Chania"></a>
                <p class="carousel-caption-text">{{product.Name}}</p>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    @* BUTTON TO THE STORE *@
    <a class="btn btn-lg btn-primary btn-block center-block" href="/Product/Index" type="button" role="button">Enter the store</a>
     


</div>