﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
    <title>Blimp store</title>
    <link href="~/Content/bootstrap-cosmo.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/my-style.css" rel="stylesheet" type="text/css" />

</head>
<body>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand text-uppercase" href="/Home/Index">Blimp</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Home/Index"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
                <li><a href="/Product/Index"><span class="glyphicon glyphicon-gift"></span>Products</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Cart/Index"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a></li>
            </ul>
        </div>
    </nav>



@RenderBody()

        

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="~/Scripts/Product/product.service.js"></script>
    <script src="~/Scripts/Product/product-list.controller.js"></script>
    <script src="~/Scripts/Product/product-details.controller.js"></script>
    <script src="~/Scripts/Product/cart-items.controller.js"></script>
    <script src="~/Scripts/Product/cart-checkout.controller.js"></script>
    <script src="~/Scripts/Product/angular-app.js"></script>
</body>
</html>
