﻿
/* ------------------------------------------------------------------- */
/* -------------------------------- HEADER --------------------------- */
/* ------------------------------------------------------------------- */
.glyphicon {
    padding-right: 5px;
}

/* ------------------------------------------------------------------- */
/* ----------------------------- CHECKOUT PAGE ----------------------- */
/* ------------------------------------------------------------------- */

/* # NAME PRICE QUANTITY */
.head.of.table {
    background-color: black;
    color: white;
}

/* TITLE OF SHOPPING CART */
.text-center.text-uppercase.text-info.table.title {
    color: black;
}

/* BUTTONS TO ADD AND SUBTRACT QUANTITY OF ITEMS IN CART */
.btn.btn-primary.btn-xs.quantity.button, .btn.btn-default.btn-xs.quantity.button {
    width: 40px;
}

/* + BUTTON */
.btn.btn-primary.btn-xs.quantity.button {
    margin-right: 10px;
}

/* - BUTTON */
.btn.btn-default.btn-xs.quantity.button {
    margin-left: 10px;
}

/* CHECKOUT BUTTON */
.btn.btn-lg.btn-default.btn-block.center-block:hover {
    background-color: white;
    color: black;
}


/* ------------------------------------------------------------------- */
/* ----------------------------- PRODUCT LIST ------------------------ */
/* ------------------------------------------------------------------- */

/* THE TOP TEXT BOX */
.jumbotron.text-center.text-capitalize.top-text {
    background-color: white;
    padding-bottom: 0;
}


/* THE SEARCH FILTER BOX */
div.jumbotron.center-block.search {
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    margin-bottom: 0px;
    padding-bottom: 0;
    padding-top: 10px;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
    left: 30px;
    top: 18px;
}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


#myInput {
    /*background-image: url('/Content/Images/searchicon.png');*/ /* Add a search icon to input */

    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}


/* PICTURES OF THE PRODUCTS */
.image.in.list {
    width: 300px;
    margin-top: 40px;
    border-style: solid;
    border-width: 1px;
}

/* TEXT "UPDATED" */
.text-updated {
    margin-bottom: 0;
    font-weight: bold;
}

/* TEXT "PRICE" */
.text-price {
    margin-top: 5px;
}

/* ADD TO CART BUTTON */
.btn.btn-primary.add-to-cart {
    margin-bottom: 50px;
}

/* DETAILS BUTTON */
.btn.btn-link.get-details {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 300px;
    background-color: black;
    color: white;
}
.btn.btn-link.get-details:hover {
    width: 300px;
    background-color: white;
    color: black;
    text-decoration: none;
}


/* ------------------------------------------------------------------- */
/* ----------------------------- INDEX PAGE -------------------------- */
/* ------------------------------------------------------------------- */

/* FIRST INFO OF THE PAGE */
.jumbotron.text-center.text-capitalize.top-text {
    padding-top: 10px;
}

.text-center.first-info {
    margin-top: 5px;
    margin-bottom: 0px;
}

/* SECOND HEADING OF THE PAGE */
.text-primary.second-info {
    margin-top: 0;
    margin-bottom: 60px;
}

/* PICTURES OF THE PRODUCTS */
.product.image {
    width: 400px;
}

/* CAROUSEL */
#myCarousel {
    width: 70%;
    margin: auto;
}

/* CAROUSEL CAPTION TEXT */
.carousel-caption-text {
    background-color: black; 
    color: white; 
    margin-bottom: inherit;
    text-align: center;
}

/* CAROUSEL INDICATORS */
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid black;
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    background-color: #1a6ecc;
    border-color: #1a6ecc;
    /*background-color: rgba(0,0,0,0);*/
}
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    background-color: white;
    border-color: #1a6ecc;
}

/* BUTTON "ENTER THE STORE" */
.btn.btn-lg.btn-primary.btn-block.center-block {
    width: 70%; 
    margin-top: 20px; 
    align-content: center;
}


/* ------------------------------------------------------------------- */
/* ----------------------------- DETAILS PAGE ------------------------ */
/* ------------------------------------------------------------------- */

/* THE TABLE ITSELF */
.table.table-details {
    margin-top: 80px;
    outline-color: white;
    border-bottom-color: #d6d5d5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* PICTURE OF THE PRODUCT */
#image-in-table {
    width: 400px;
}

/* TEXT "PRICE" */
.text-center.price {
    margin-bottom: 70px;
}



