﻿<div class="container" ng-app="product-app" ng-controller="cartCheckoutController as vm">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="well bs-component">
                <form class="form-horizontal">
                    <fieldset>

                        <legend class="text-center">Please fill out this form.</legend>

                        @* NAME *@
                        <div class="form-group">
                            <label for="inputName" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputName" placeholder="John">
                            </div>
                        </div>

                        @* SURNAME *@
                        <div class="form-group">
                            <label for="inputSurname" class="col-lg-2 control-label">Surname</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputSurname" placeholder="Doe">
                            </div>
                        </div>

                        @* ADDRESS *@
                        <div class="form-group">
                            <label for="inputAddress" class="col-lg-2 control-label">Address</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputAddress" placeholder="221B Baker Street">
                            </div>
                        </div>

                        @* PHONE NUMBER *@
                        <div class="form-group">
                            <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputPhone" placeholder="(+370)">
                            </div>
                        </div>

                        @* CREDIT CARD NUMBER *@
                        <div class="form-group">
                            <label for="inputCredit" class="col-lg-2 control-label">Credit card #</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputCredit" placeholder="####-####-####">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <a class="btn btn-default" href="/Cart/Index" type="reset" class="btn btn-default">Cancel</a>
                                <button ng-click="vm.showTerms()" href="/Home/Index" type="submit" class="btn btn-primary">Buy</button>
                            </div>
                        </div>



                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>