﻿<div ng-app="product-app" ng-controller="cartItemsController as vm" >



    <div class="container">
        <h1 class="text-center text-uppercase text-info table title">Products in cart</h1>
        <div class="table-responsive">
            <table class="table">
                <thead class="head of table">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Options</th>
                </tr>
                </thead>

                <tbody >
                <tr ng-repeat="item in vm.cartItems">
                    
                    @* number in cart *@
                    <td>{{$index+1}}</td>

                    @* product number *@
                    <td>{{item.Product.Name}}</td>

                    @* product price *@
                    <td>{{item.Product.Price * item.Quantity}} €</td>

                    <td>
                        @* + 1 product quantity button *@
                        <a ng-click="vm.incrementItem(item.Product.Id); item.Quantity = item.Quantity + 1" class="btn btn-primary btn-xs quantity button">
                            +                            
                        </a>
                        {{item.Quantity}}

                        @* - 1 product quantity button *@
                        <a ng-click="vm.decrementItem(item.Product.Id); item.Quantity = item.Quantity - 1" class="btn btn-default btn-xs quantity button">
                            -
                        </a>
                    </td>
                    <td>
                        @* remove item from cart button *@
                        <a ng-click="vm.removeItem(item.Product.Id)" href="/Cart/Index" class="btn btn-warning btn-xs">
                            Remove
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        @* checkout button *@
        <a class="btn btn-lg btn-default btn-block center-block" href="/Cart/Checkout" type="button" role="button">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Checkout
        </a>

    </div>

</div>