﻿@model int


<div ng-app="product-app" ng-controller="productDetailsController as vm" ng-init="vm.init(@Model)">




    <div class="container">
        <div class="table-responsive">
            <table class="table table-details">
                    <tr>
                        <td id="image-in-table">
                            <img class="product image" src="{{vm.product.Image}}" />
                        </td>
                        <td id="details-in-table">
                            @* product name *@
                            <h2 class="text-center"><b>{{vm.product.Name}}</b></h2>

                            @* product updated *@
                            <p class="text-center"><i>Date updated: </i> {{ vm.product.Updated | date}}</p>

                            @* product price *@
                            <h2 class="text-center price"><i>Price: </i> {{vm.product.Price}}€</h2>

                            @* add to cart button *@
                            <a class="btn btn-lg btn-primary btn-block product details" ng-click="vm.addItem()" role="button">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                Add to cart
                            </a><br/>

                            @* return to the list button *@
                            <a class="btn btn-lg btn-default btn-block product details" href="/Product/Index" type="button" role="button">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                Back to the list
                            </a><br/>
                        </td>
                    </tr>
            </table>
        </div>
    </div>


</div>