﻿<div ng-app="product-app" ng-controller="productListController as vm" ng-init="vm.getAll()">
    <div class="container">


        <div class="jumbotron center-block search inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input style="background-image: url('/Content/Images/searchicon.png');" type="text" id="myInput" @*ng-click="vm.filterSearch()"*@ my-enter="vm.filterSearch()" placeholder="Search for a specific product..">
        </div>



        <div class="jumbotron text-center text-capitalize top-text">
            <h1 class="text-capitalize">Upgrade Yourself</h1>
        </div>

        <div class="row" id="the-row">
            <div class="col-lg-4 text-center" id="my-list-row" ng-repeat="product in vm.allProducts | orderBy: '-Updated'">

                <div class="my-product">

                    @* image *@
                    <img class="image in list" src="{{product.Image}}" />

                    @* name *@
                    <h4 id="product-name"><a href="/Product/Details/{{product.Id}}" class="btn btn-link get-details">{{product.Name}}</a></h4>

                    @* date updated *@
                    <h6 class="text-updated">{{product.Updated | date}}</h6>

                    @* price *@
                    <h2 class="text-price">{{product.Price}}€</h2>

                    @* button "Add to cart" *@
                    <a ng-click="vm.addItem(product)" class="btn btn-primary add-to-cart">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        Add to cart
                    </a>

                </div>

                </div>
        </div>
    </div>
</div>